<?xml version="1.0"?>
<config>
    <modules>
        <MK_Siteblocks>
            <version>1.0.0</version>
        </MK_Siteblocks>
    </modules>
    <global>
        <blocks>

        </blocks>
        <models>
            <siteblocks><!--от этого имени зависит то, как мы будем вызывать нашу модель-->
                <class>MK_Siteblocks_Model</class><!--префикс класса модели Block.php-->
                <resourceModel>siteblocks_resource</resourceModel><!--указываем название узла ниже-->
            </siteblocks>
            <siteblocks_resource>
                <class>MK_Siteblocks_Resource</class>
                <entities><!--в этой секции декларируем таблицы БД-->
                    <block><!--это название модели Block.php (произвольное), а в дочернем узле - таблица, с которой наша модель работает-->
                        <table>mk_siteblock</table><!--такое название как в БД-->
                    </block>
                </entities>
            </siteblocks_resource>
        </models>
        <resources><!--секция чтобы указать, откуда брать инсталляционный скрипт-->
            <siteblocks_setup><!--совпадает с папкой, где лежат инсталляционные скрипты-->
                <setup>
                    <module>MK_Siteblocks</module>
                </setup>
            </siteblocks_setup>
        </resources>
        <helpers>
            <siteblocks>
                <class>MK_Siteblocks_Helper</class>
            </siteblocks>
        </helpers>
    </global>
    <frontend>
        <routers>
            <siteblocks><!--произвольное название узла-->
                <use>standard</use>
                <args>
                    <module>MK_Siteblocks</module>
                    <frontName>siteblocks</frontName> <!-- - domain.ru/значение этого узла/... -->
                </args>
            </siteblocks>
        </routers>
        <translate>
            <modules>
                <MK_Siteblocks>
                    <files>
                        <default>MK_Siteblocks.csv</default>
                    </files>
                </MK_Siteblocks>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <!--низе: значение - путь до контроллера-->
                        <siteblocks before="Mage_Adminhtml">MK_Siteblocks_Adminhtml</siteblocks>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <!--настройки по дефолту для модуля в разделе System->Configuration-->
        <siteblocks>
            <settings>
                <enabled>1</enabled>
                <block_count>5</block_count>
            </settings>
        </siteblocks>
    </default>
</config>