<?xml version="1.0"?>
<config>
    <modules>
        <MK_Siteblocks>
            <version>1.0.0</version>
        </MK_Siteblocks>
    </modules>
    <frontend>
        <routers>
            <siteblocks>
                <use>standard</use>
                <args>
                    <module>MK_Siteblocks</module>
                    <frontName>siteblocks</frontName>
                </args>
            </siteblocks>
        </routers>
        <translate>
            <modules>
                <MK_Siteblocks>
                    <files>
                        <default>MK_Siteblocks.csv</default>
                    </files>
                </MK_Siteblocks>
            </modules>
        </translate>
        <layout>
            <updates>
                <siteblocks module="siteblocks">
                    <file>siteblocks.xml</file>
                </siteblocks>
            </updates>
        </layout>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <siteblocks>
                        <class>siteblocks/observer</class>
                        <method>checkout_cart_product_add_after</method>
                    </siteblocks>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <MK_Siteblocks>
                    <files>
                        <default>MK_Siteblocks.csv</default>
                    </files>
                </MK_Siteblocks>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <siteblocks>
                <class>MK_Siteblocks_Model</class>
                <resourceModel>siteblocks_resource</resourceModel>
            </siteblocks>
            <siteblocks_resource>
                <class>MK_Siteblocks_Model_Resource</class>
                <entities>
                    <siteblock>
                        <table>mk_siteblock</table>
                    </siteblock>
                </entities>
            </siteblocks_resource>
        </models>
        <resources>
            <siteblocks_setup>
                <setup>
                    <module>MK_Siteblocks</module>
                </setup>
            </siteblocks_setup>
        </resources>
        <helpers>
            <siteblocks>
                <class>MK_Siteblocks_Helper</class>
            </siteblocks>
        </helpers>
        <blocks>
            <siteblocks>
                <class>MK_Siteblocks_Block</class>
            </siteblocks>
        </blocks>
        <!--<events>
            <controller_front_init_routers>
                <observers>
                    <cms>
                        <class>Mage_Cms_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </cms>
                </observers>
            </controller_front_init_routers>
        </events>-->
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <siteblocks before="Mage_Adminhtml">MK_Siteblocks_Adminhtml</siteblocks>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <siteblocks><!-- в system.xml == <sections><siteblocks>-->
            <settings><!-- в system.xml == <sections><groups><settings>-->
                <enabled>1</enabled>
                <siteblock_count>5</siteblock_count>
                <raw_text>Good developer!</raw_text>
            </settings>
        </siteblocks>
    </default>
</config>
